#Ignore all build files
vendor/bin/premake/**/premake5
**/Makefile
**.sln
**.vcxproj
**.vcxproj.*
**.recipe
.vs
**.idb
**.pdb
**.lib
**.filters
**.tlog
**.log
**.obj
**.exe
**.ilk

#Ignore also GLFW additional build files
vendor/GLFW/Makefile
vendor/bin/**
vendor/bin-obj/**
